/* send email */
.send-email {
    text-align: center;
    padding: 5% 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Work Sans", sans-serif;
}

.send-email textarea, .send-email button {
    margin-top: 1%;
}

/* other mediums */
.other-mediums {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    padding: 1% 2%;
}